.user-cell {
	width: 33%;
	height: 26vh;
	border: .5px dotted gray;
	display: inline-block;

}


.user-cell.active {
	width: 33%;
	height: 26vh;
	border: .5px dotted gray;
	background-color: green;
	display: inline-block;

}

.add-button {
	position: inline;
	bottom: 0;
	left: 0;
}

.remove-button {

}
