.user-cell {
	width: 19%;
	height: 140px;
	border: .5px dotted gray;
	display: inline-block;

}


.user-cell.active {
	width: 19%;
	height: 140px;
	border: .5px dotted gray;
	background-color: green;
	display: inline-block;

}
