.App {
	margin: 0;
	padding: 0;
	height: 600px;
	width: 800px;
}

.menu {
	margin: 0;
	padding: 0;
	height: 600px;
	width: 600px;
	background-color: yellow;
}

.menu div {
	height: 20%;
	width: 20%;
	float:left;
}
.cart {
	margin: 0;
	padding: 0;
	height: 400px;
	width: 200px;
	background-color: lightblue;
	position: absolute;
	left: 600px;
	top: 0;
}

.cartItems {
	height: 80%;
	overflow: scroll;
	overflow-x: hidden;
}
.cartTotal {
	height: 20%;
}

.actions {
	margin: 0;
	padding: 0;
	height: 200px;
	width: 200px;
	background-color: lightgreen;
	position: absolute;
	left: 600px;
	top: 400px;
}

.cta {
	height: 50%;
	width: 50%;
	margin: -1.2px;
	float: left;
	text-align: center;
	border: 1px solid black;
}

.unavailable {
	background-color: gray;
}

/*
.cart-sidebar {
	background-color: gray;
	width: 20%;
	height: 100%;
	position: absolute;
	right: 0;
	color: white;
}

table {
	margin: auto;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}


.cart-sidebar > .cart-summary {
	background-color: #222;
	height: 80%;
	width: 100%;
	display: inline-block;
}

.cart-sidebar > .order {
	background-color: gray;
	height: 20%;
	width: 100%;
	display: inline-block;
}

.app-right {
	background-color: green;
	width: 80%;
	height: 100%;
	position: absolute;
}

.app-navbar {
	background-color: blue;
	width: 100%;
	height: 20%;
	display: inline-block;

}

.app-user-grid {
	background-color: yellow;
	width: 100%;
	height: 80%;
	display: inline-block;

}*/
