.app {
	margin: 0;
	padding: 0;
	min-width: 80%;
	min-height: 500px;
}

.topbar {
	margin: 0;
	padding: 0;
	width: 80%;
	background-color: gray;
	position: abolute;
	left: 0px;
	top: 0px;
}

.main {
	margin: 0;
	padding: 0;
	width: 80%;
	background-color: pink;
	position: absolute;
	left: 0px;
	top: 50px;
}


